<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:replace="layout :: common-head(~{::title})">
    <title>Java Coders Community Bank: The Controller Code</title>
  </head>
  <body class="d-flex flex-column h-100">
    <!--Nav section-->
    <header th:replace="layout :: header"></header>
    <!--Main section-->
    <main class="flex-shrink-0">
      <div class="container py-5 px-5 mt-5">
        <h2 class="border-1 border-bottom border-dark">
          The Code for <span class="logoFont">Java Coders Community Bank</span>
        </h2>
        <div class="row row-cols-1 row-cols-lg-2">
          <!--CODE EMBED SECTION-->
          <div class="col-lg-8">
            <pre class="line-numbers">
                <code class="language-java">
                     <!--Code pasted here-->
                    </code>
                </pre>
          </div>
          <!--CODE EXPLANATION-->
          <div class="col-lg-4">
            <p>Brief Summary</p>
            <h5 class="logoFont">Java Coders Community Bank</h5>
            <p>Introduction to the Controller Code</p>
            <h4>Brief code overview:</h4>
            <ul>
              <li>
                <strong>Point #1:</strong>
                <ul>
                  <li>text</li>
                  <br />
                  <li>More text</li>
                </ul>
              </li>

              <li>
                <strong>Point 2: </strong>
                <ul>
                  <li>sub point 1</li>
                  <br />

                  <li>sub point 2</li>
                  <br />
                  <li>sub point 3</li>
                  <br />
                </ul>
              </li>
              <li><strong>Point 3: </strong></li>

              <li>sub point 1</li>
              <br />

              <li>sub point 2</li>
              <br />
              <li>sub point 3</li>
              <br />
            </ul>
          </div>
        </div>
      </div>
    </main>
    <!--footer section-->
    <footer th:replace="layout :: footer"></footer>
    <!-- scripts -->
    <div th:replace="layout :: CustomJS"></div>
    <div th:replace="layout :: BootstrapJS"></div>
    <div th:replace="layout :: PrismJS"></div>
  </body>
</html>
