<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: common-head(~{::title})">
    <title>Java Coders Community Bank: Transaction Details</title>
  </head>
  <body class="d-flex h-100">
    <header th:replace="layout :: header"></header>

    <main class="flex-shrink-0">
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="d-flex justify-content-center">Transaction Details</h1>
        <div class="card border border-success-subtle">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  th:href="@{/update_transaction/{id}(id=${model.id})}"
                  >Update Transaction</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/add_transaction}"
                  >Add Another Transaction</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true"
                  >Delete this Transaction</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body row">
            <h5 class="card-title col d-flex justify-content-center">
              <span th:text="${model.retailer}"></span>
            </h5>

            <div class="col card-text m-3">
              <strong>Description:</strong>
              <span th:text="${model.description}"></span>
            </div>

            <div class="col card-text m-3">
              <strong>Type:</strong> <span th:text="${model.type}"></span>
            </div>

            <div class="col card-text m-3">
              <strong>Date:</strong> <span th:text="${model.date}"></span>
            </div>

            <div class="col card-text m-3">
              <strong>Amount:</strong> <span th:text="${model.amount}"></span>
            </div>
            <div col>
              <a th:href="@{/transactions}" class="btn btn-primary w-100"
                >Return to Transactions</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--footer section-->
    <footer th:replace="layout :: footer"></footer>
    <!-- scripts -->
    <div th:replace="layout :: CustomJS"></div>
    <div th:replace="layout :: BootstrapJS"></div>
  </body>
</html>
