<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: common-head(~{::title})">
    Java Coders Community Bank: Transaction Details
  </head>
  <body class="d-flex flex-column h-100">
    <header th:replace="layout :: header"></header>

    <main class="flex-fill">
      <div class="container-fluid custom-container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center pt-5">
              <h1 class="text-center">Transaction Details</h1>
              <button
                onclick="function printPage() { window.print(); }; printPage();"
                class="btn print-btn me-3"
              >
                Print Page
              </button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card border border-success-subtle">
              <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      th:href="@{/update_transaction/{id}(id=${transaction.id})}"
                      ><i class="bi bi-pencil"></i>Update Transaction</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/add_transaction}"
                      ><i class="bi bi-file-earmark-plus"></i>Add Another
                      Transaction</a
                    >
                  </li>
                  <li class="nav-item bs-danger">
                    <a class="nav-link disabled" aria-disabled="true"
                      ><i class="bi bi-trash3"></i>Delete this Transaction</a
                    >
                  </li>
                </ul>
              </div>
              <div class="card-body row">
                <h2 class="card-title col d-flex justify-content-center">
                  <span th:text="${transaction.retailer}"></span>
                </h2>

                <div class="col card-text m-3">
                  <strong>Description:</strong>
                  <span th:text="${transaction.description}"></span>
                </div>

                <div class="col card-text m-3">
                  <strong>Type:</strong>
                  <span th:text="${transaction.type}"></span>
                </div>

                <div class="col card-text m-3">
                  <h5><strong>Date:</strong></h5>
                  <td>
                    <span
                      th:text="${#temporals.format(transaction.date, 'dd MMMM yyyy, HH:mm')}"
                    ></span>
                  </td>
                </div>

                <div class="col card-text m-3">
                  <strong>Amount:</strong>
                  <span th:text="${transaction.amount}"></span>
                </div>
                <div col>
                  <a th:href="@{/transactions}" class="btn btn-primary w-100"
                    >Return to Transactions</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--footer section-->
    <footer th:replace="layout :: footer"></footer>
    <!-- scripts -->
    <div th:replace="layout :: CustomJS"></div>
    <div th:replace="layout :: BootstrapJS"></div>
  </body>
</html>
